<div id="<%= dom_id chatbot %>">
  <p>
    <strong>Participant:</strong>
    <%= chatbot.participant_id %>
  </p>

  <p>
    <strong>Chatbot type:</strong>
    <%= chatbot.chatbot_type %>
  </p>

  <p>
    <strong>Conversation:</strong>
    <%= chatbot.conversation %>
  </p>

  <p>
    <strong>Conversation started at:</strong>
    <%= chatbot.conversation_started_at %>
  </p>

  <p>
    <strong>Conversation finished at:</strong>
    <%= chatbot.conversation_finished_at %>
  </p>

</div>
