<p style="color: green"><%= notice %></p>

<%= render @chatbot %>

<div>
  <%= link_to "Edit this chatbot", edit_chatbot_path(@chatbot) %> |
  <%= link_to "Back to chatbots", chatbots_path %>

  <%= button_to "Destroy this chatbot", @chatbot, method: :delete %>
</div>
